ipykernel
ipython
ipython-genutils
ipywidgets
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
numpy
pandas
scikit-learn
joblib
dvc[gcs]
cml


