name: Model CI/CD Pipeline

on:
  # Run CI on pull requests targeting the main branch
  pull_request:
    branches: [main]
  # Run CD on pushes to the main branch (i.e., after merging a PR)
  push:
    branches: [main]

jobs:
  run_cml:
    # This job only runs for pull_request events
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    container:
      image: docker://ghcr.io/iterative/cml:0-dvc2-base1
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run Training Script
        run: python train.py
        
      - name: Run Evaluation Script
        run: python eval.py

      - name: Post CML Report to PR
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cml comment create cml_report.md
          
  # CD Job: Build and Push Docker image on merge to main
  # CD Job: Build Docker image on merge to main
  build-and-push-docker:
    # This job only runs for push events on the main branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure Docker to use Google Cloud credentials
        run: gcloud auth configure-docker ${{ secrets.GAR_LOCATION }}-docker.pkg.dev

      - name: Build and Push Docker Image to GAR
        uses: docker/build-push-action@v5
        with:
          context: ./application
          file: ./application/Dockerfile
          push: true
          tags: ${{ secrets.GAR_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/iris-app-repo/iris-fastapi-app:latest